{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "simple-import-sort",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-undef": "off",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error"
  }
}
